.Rproj.user
.Rhistory
.RData
.Ruserdata
review-analysis.Rproj
fig3.png
lit_map.html
lit_map.pdf
summary-lit
scripts-lit.pdf
meta-data-sim.pdf
fig4.png
meta-analysis/effect_size_ci.png
meta-analysis/smd_ci.png
meta-analysis/data/.~lock.chapter-1_effects.csv#
meta-analysis/es_cor.png
meta-analysis/es_pb.png
meta-analysis/es_tc.png
meta-analysis/es_comp.png
meta-analysis/map.png
meta-analysis/.~lock.data_tc.csv#
meta-analysis/es_diff.png
meta-analysis/es_tc_ci.png
meta-analysis/forest_foraging.png
meta-analysis/forest_movement.png
meta-analysis/forest_vigilance.png
meta-analysis/meta_foraging.png
meta-analysis/meta_movement.png
meta-analysis/meta_vigilance.png
meta-analysis/comp_stat.csv
meta-analysis/data_tc_smd.csv
meta-analysis/data.csv
meta-analysis/stat_man.csv
meta-analysis/pop_sn.png
meta-analysis/funnel.png
meta-analysis/es_meta_subgroup.png
meta-analysis/reg_lat.png
meta-analysis/lat_reg.png
meta-analysis/reg_size.png
meta-analysis/size_reg.png
