.Rproj.user
.Rhistory
.RData
.Ruserdata
review-analysis.Rproj
fig3.png
lit_map.html
lit_map.pdf
summary-lit
scripts-lit.pdf
meta-data-sim.pdf
fig4.png
meta-analysis/effect_size_ci.png
meta-analysis/smd_ci.png
meta-analysis/data/.~lock.chapter-1_effects.csv#
meta-analysis/es_cor.png
meta-analysis/es_pb.png
meta-analysis/es_tc.png
meta-analysis/es_comp.png
meta-analysis/map.png
